body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

h1, h1, h3, h4 {
    font-family:Calibri;
}

table {
    border-collapse:collapse;
    border:1px solid #232323;
}

thead {
    background-color:#232323;
    color:#ddd;
}

th, td {
    width:100px;
    text-align:center;
    vertical-align:middle;
}

th {
    height:30px;
}

tr:nth-of-type(even){ 
    background-color:#ffee6a; 
}

input {
    display:block;
    height:25px;
    border:solid 1px;
    border-radius:2px;
}

input[type="text"] {
    width:150px;
}

input[type="submit"] {
    background-color:#e6e6e6;
    width:125px;
}

input[type="submit"]:hover {
    background-color:#ffee6a;
}

/* Own classes and IDs*/
.wrapper {
    width:402px;
    margin:0 auto 0 auto;
}

a.link {
    display:block;
    background-color:#e6e6e6;
    text-decoration:none;
    text-align:center;
    padding:2px 0 0 0;
    margin:0 0 10px 0;
    height:22px;
    width:122px;
    border:solid 1px;
    border-radius:2px;
}

.link:hover {
    background-color:#ffee6a;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
