@model AdventurousContacts.Models.Contact

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Din åtgärd lyckades!</h2>
<p>Klicka på knappen för att återgå till indexsidan</p>

@Html.Partial("Return")
